body {
    height: 1800px;
    margin: 0;
    padding: 0;
    font-family: Helvetica, serif;
    font-size: 12pt;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3.4em;
}

h3 {
    font-size: 2.8em;
}

a {
    text-decoration: none;
    color: #fff;
}

.flex {
    display: flex;
    align-items: center;
}

.btn, button {
    display: inline-block;
    height: 3em;
    padding: 0 1em;
    font-size: 1em;
    line-height: 3em;
    text-transform: uppercase;
    border: solid 2px #dedede;
    letter-spacing: 1px;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28em 0;
    transition: all 1s;
}

.overlay {
    position: relative;
    background-color: inherit;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url("../images/code.png");
    z-index: 1;
}

/* variable needed to manipulate pseudoclass (::after) with JavaScript */
.overlay {
    --fade-background: rgba(90, 69, 255, 1);
}

.overlay::after {
    display: block;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: inherit;
    background-color: var(--fade-background);
    z-index: -1;
}

.overlay::after {
    animation: fadein 1.75s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.intro {
    position: relative;
    width: 80%;
}

.intro .subtext {
    padding: 0 1.25em 0 0;
    font-size: 1.4em;
    letter-spacing: 1px;
}

.row {
    align-items: stretch;
    height: 32em;
}

article.tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

article.tile.narrow {
    width: 40%;
}

article.tile.wide {
    width: 60%;
}

article.tile.tile-style1 {
    background: red;
}

article.tile.tile-style2 {
    background: green;
}

article.tile.tile-style3 {
    background: #e87020;
}

article.tile.tile-style4 {
    background: purple;
}

article.tile.tile-style5 {
    width: 100%;
    background: darkblue;
}

article.tile header {
    margin-left: 5em;
    width: 14em;
}

article.tile header h3 {
    font-size: 2em;
    padding-bottom: 0.25em;
    border-bottom: 2px solid #dedede;
}

article.tile header p {
    font-size: 0.95em;
    font-weight: 600;
    text-transform: uppercase;
}